@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800&family=Pridi:wght@300;400;500;600;700&display=swap');
*{
    
    font-family: 'Poppins', sans-serif;
    color: white
}

body {
    background-color: #2F303A;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  };

